body {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
}

button, .tab {
    cursor: pointer;
}

.active { 
    background-color: rgb(215, 105, 215);
}

.test-wrapper {
    width: 30vw;
    height: 30vh;
    background-color: rgb(215, 105, 215);
    margin: 50px auto;
    padding: 30px;
}

.tabs {
    height: 100vh;
    width: 100vw;
}

.tab-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    background-color: darkmagenta;
    height: 60px;
    margin: 0;
}

.tab {
    list-style-type: none;
    padding: 0 10px;
    border: 2px solid rgb(57, 4, 57);
    border-radius: 5px;
    margin: 0 10px;
    height: 30px;
    display: flex;
    align-items: center;   
}

.tab-item {
    display: none;
}

div.tab-item:first-child {
    display: block;
}

.calc {
    width: 100%;
    height: 100%;
    background-image: url("https://img5.goodfon.ru/wallpaper/nbig/8/b3/wood-siren-tsvety-belaia-rozovaia-fon.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
}

.calc-wrapper {
    width: 240px;
    height: 330px;
    background-color: darkmagenta;
    border-radius: 10px;
    margin: 0 auto;
    padding: 25px;
    box-shadow: 4px 6px 12px 4px rgb(209, 128, 209);
    position: relative;
    font-size: 22px;
}

h2 {
    text-align: center;
    font-size: 30px;
    color: rgb(57, 4, 57);
    text-shadow: rgb(215, 105, 215) 1px 0 10px;
}

.window {
    width: 225px;
    height: 15%;
    background-color: rgb(215, 105, 215);
    border-radius: 5px;
    border: 2px solid rgb(57, 4, 57);
    margin-bottom: 20px;
    padding: 5px;
}

.result {
    position: absolute;
    top: 53px;
    right: 35px;
}

.btns {
    display: grid;
    grid-template-columns: repeat(4, 1fr);;
    gap: 10px;
    align-items: center;
}

.btn, .btn-equal, .btn-remove, .btn-clear {
    background-color: rgb(215, 105, 215);
    border-radius: 5px;
    font-size: 30px;  
    border: 2px solid rgb(57, 4, 57);
}

.btn:active, .btn-equal:active, .btn-remove:active, .btn-clear:active {
    box-shadow: 3px 3px 4px rgb(57, 4, 57);   
}